<div class="flex h-screen font-serif">
  <!-- Left Half -->
  <div class="w-1/2 bg-[#253900] text-white flex flex-col p-10 pl-20">
    <!-- Top -->
    <div class="flex items-center gap-3 mt-10">
        <div class="w-10 h-10 bg-[#08CB00] rounded-lg"></div>
        <h1 class="text-3xl">TaskFlow</h1>
    </div>

    <!-- Hero -->
    <div class="mt-20">
        <h2 class="text-6xl leading-tight">
            Join your team <br/> on TaskFlow.
        </h2>

        <p class="mt-6 w-[70%] text-gray-400 text-3xl">
          Create boards, assign tasks, and ship work together.        
        </p>
    </div>

    <div class="mt-20 space-y-4 text-slate-200">
      <div class="flex items-start gap-3">
        <i class="fa-solid fa-check mt-1" style="color: #3cff00;"></i>
        <p class="text-xl font-medium">Kanban boards with drag and drop</p>
      </div>

      <div class="flex items-start gap-3">
        <i class="fa-solid fa-check mt-1" style="color: #3cff00;"></i>
        <p class="text-xl font-medium">Comments and file attachments</p>
      </div>

      <div class="flex items-start gap-3">
        <i class="fa-solid fa-check mt-1" style="color: #3cff00;"></i>
        <p class="text-xl font-medium">Team roles and permissions</p>
      </div>
    </div>

    <!-- Footer -->
    <div class="mt-20 text-xl text-gray-400">
      Free for small teams to get started
    </div>
  </div>

    <!-- Right Half -->
    <div class="w-1/2 bg-[#111111] flex items-center justify-center p-10">

      <form
        class="w-full max-w-md"
        [formGroup]="form"
        (ngSubmit)="register()"
      >
        <!-- Title -->
        <h2 class="text-3xl font-semibold text-white">Create your account</h2>
        <p class="text-gray-400 mt-2">Get started with TaskFlow in seconds</p>

        <!-- First name -->
        <div class="mt-6">
          <label class="text-lg text-gray-300">First name</label>
          <input
              formControlName="firstName" 
              placeholder="Jane"
              class="w-full mt-2 p-3 rounded-lg bg-[#1e1e1e] text-white text-lg outline-none border-2 border-gray-700 focus:border-green-500"/>
        </div>

        <!-- Last name -->
        <div class="mt-6">
          <label class="text-lg text-gray-300">Last name</label>
          <input 
            formControlName="lastName" 
            placeholder="Doe"
            class="w-full mt-2 p-3 rounded-lg bg-[#1e1e1e] text-white text-lg outline-none border-2 border-gray-700 focus:border-green-500"/>
        </div>

        <!-- Email -->
        <div class="mt-6">
          <div class="flex justify-between items-baseline">
            <label class="text-lg text-gray-300">Email</label>

            @if (form.get('email')?.touched && form.get('email')?.errors?.['required']) {
              <span class="text-red-500 text-sm flex items-center gap-1">
                <i class="fa-solid fa-circle-info"></i>
                Email is required
              </span>
            }

            @if (form.get('email')?.touched && form.get('email')?.errors?.['email']) {
              <span class="text-red-500 text-sm flex items-center gap-1">
                <i class="fa-solid fa-circle-info"></i>
                Invalid email format
              </span>
            }
          </div>

          <input
            type="email"
            formControlName="email"
            placeholder="you@example.com"
            class="w-full mt-2 p-3 rounded-lg bg-[#1e1e1e] text-white text-lg outline-none border-2 border-gray-700 focus:border-green-500"
          />
        </div>

        <!-- Password -->
        <div class="mt-4">
          <div class="flex justify-between items-baseline">
            <label class="text-lg text-gray-300">Password</label>

            @if (form.get('password')?.touched && form.get('password')?.errors?.['required']) {
              <span class="text-red-500 text-sm flex items-center gap-1">
                <i class="fa-solid fa-circle-info"></i>
                Password is required
              </span>
            } @else if (form.get('password')?.touched && form.get('password')?.errors?.['minlength']) {
              <span class="text-red-500 text-sm flex items-center gap-1">
                <i class="fa-solid fa-circle-info"></i>
                Minimum 8 characters required
              </span>
            } @else if (form.get('password')?.touched && form.get('password')?.errors?.['pattern']) {
              <span class="text-red-500 text-sm flex items-center gap-1">
                <i class="fa-solid fa-circle-info"></i>
                Must include uppercase, lowercase, and number
              </span>
            }
          </div>

          <input
            type="password"
            formControlName="password"
            placeholder="**************"
            class="w-full mt-2 p-3 rounded-lg bg-[#1e1e1e] text-white text-lg outline-none border-2 border-gray-700 focus:border-green-500"
          />
        </div>

        <!-- Confirm password -->
        <div class="mt-4">
          <div class="flex justify-between items-baseline">
            <label class="text-lg text-gray-300">Confirm password</label>

            @if (form.get('confirmPassword')?.touched && form.get('confirmPassword')?.errors?.['required']) {
              <span class="text-red-500 text-sm flex items-center gap-1">
                <i class="fa-solid fa-circle-info"></i>
                Confirm password is required
              </span>
            } @else if (form.get('confirmPassword')?.touched && form.touched && form.errors?.['passwordMismatch']) {
              <span class="text-red-500 text-sm flex items-center gap-1">
                <i class="fa-solid fa-circle-info"></i>
                Passwords do not match
              </span>
            }
          </div>

          <input
            type="password"
            formControlName="confirmPassword"
            placeholder="**************"
            class="w-full mt-2 p-3 rounded-lg bg-[#1e1e1e] text-white text-lg outline-none border-2 border-gray-700 focus:border-green-500"
          />
        </div>

        <!-- Button -->
        <button
          type="submit"
          class="w-full mt-6 bg-[#08CB00] hover:bg-green-600 text-black font-semibold py-3 rounded-lg transition"
        >
          Create account
        </button>

        <!-- Register -->
        <p class="text-center text-lg text-gray-400 mt-4">
          Already have an account?
          <a class="text-[#08CB00] hover:underline" routerLink="/login">
            Log in
          </a>
        </p>
      </form>
</div>
</div>