<div class="flex min-h-screen font-serif flex-col lg:flex-row">
<!-- Left Half -->
    <div class="w-full lg:w-1/2 bg-[#253900] text-white flex flex-col p-6 lg:p-10 lg:pl-20">

    <!-- Top -->
    <div class="flex items-center gap-3 mt-10">
        <div class="w-10 h-10 bg-[#08CB00] rounded-lg"></div>
        <h1 class="text-3xl">TaskFlow</h1>
    </div>

    <!-- Hero -->
    <div class="mt-20">
        <h2 class="text-3xl md:text-4xl lg:text-5xl leading-tight">
                Plan. Track. <br/>
            Ship faster.
        </h2>

        <p class="mt-6 lg:w-[70%] text-gray-400 text-lg md:text-xl lg:text-2xl">
            Boards, tasks, and team collaboration — built for teams that move quick.
        </p>
    </div>
    
    <!-- Card -->
    <div class="mt-10 bg-[#1f1f1f] rounded-xl p-5 space-y-4 w-full lg:w-[70%]">
        <div class="flex items-center gap-3">
            <span class="w-4 h-4 bg-red-500 rounded-full"></span>
            <p class="text-xl">Fix Login redirect bug</p>
        </div>
        <div class="flex items-center gap-3">
            <span class="w-4 h-4 bg-orange-500 rounded-full"></span>
            <p class="text-xl">Design board drag animation</p>
        </div>
        <div class="flex items-center gap-3">
            <span class="w-4 h-4 bg-green-500 rounded-full"></span>
            <p class="text-xl">Write API documentation</p>
        </div>
    </div>

    <!-- Footer -->
    <div class="mt-20 text-xl text-gray-400">
        Trusted by fast-moving product teams
    </div>
  </div>

    <!-- Right Half -->
    <div class="w-full lg:w-1/2 bg-[#111111] flex items-center justify-center p-6 lg:p-10">

      <form
        class="w-full max-w-md"
        [formGroup]="form"
        (ngSubmit)="login()"
      >
        <!-- Title -->
        <h2 class="text-3xl font-semibold text-white">Welcome back</h2>
        <p class="text-gray-400 mt-1">Sign in to continue to your workspace</p>

        <!-- Email -->
        <div class="mt-4">
        <div class="flex justify-between items-baseline">
            <label class="text-sm text-gray-300">Email</label>

            @if (form.get('email')?.touched && form.get('email')?.errors?.['required']) {
            <span class="text-red-500 text-xs flex items-center gap-1">
                <i class="fa-solid fa-circle-info"></i>
                Email is required
            </span>
            } @else if (form.get('email')?.touched && form.get('email')?.errors?.['email']) {
            <span class="text-red-500 text-xs flex items-center gap-1">
                <i class="fa-solid fa-circle-info"></i>
                Invalid email format
            </span>
            }
        </div>

        <input
            type="email"
            formControlName="email"
            placeholder="you@example.com"
            class="w-full mt-1 p-2.5 rounded-lg bg-[#1e1e1e] text-white text-base outline-none border-2 border-gray-700 focus:border-green-500"
        />
        </div>

        <!-- Password -->
        <div class="mt-3">
        <div class="flex justify-between items-baseline">
            <label class="text-sm text-gray-300">Password</label>

            @if (form.get('password')?.touched && form.get('password')?.errors?.['required']) {
            <span class="text-red-500 text-xs flex items-center gap-1">
                <i class="fa-solid fa-circle-info"></i>
                Password is required
            </span>
            }
        </div>

        <div class="relative">
        <input
            [type]="showPassword ? 'text' : 'password'"
            formControlName="password"
            placeholder="**************"
            class="w-full mt-1 p-2.5 pr-12 rounded-lg bg-[#1e1e1e] text-white text-base outline-none border-2 border-gray-700 focus:border-green-500"
        />

        <button
            type="button"
            (click)="showPassword = !showPassword"
            class="absolute right-4 top-[58%] -translate-y-1/2 text-gray-400 hover:text-white"
        >
            <i
            [class]="showPassword ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"
            ></i>
        </button>
        </div>
        </div>

        <!-- Forgot -->
        <div class="text-right mt-2">
            <a href="#" class="text-green-500 text-sm hover:underline">
                Forgot password?
            </a>
        </div>

        <!-- Button -->
        <button 
            type="submit"
            class="w-full mt-4 bg-green-500 hover:bg-green-600 text-black font-semibold py-2.5 rounded-lg transition">
                Log in
        </button>

        <!-- Register -->
        <p class="text-center text-sm text-gray-400 mt-3">
            Don't have an account?
            <a class="text-green-500 hover:underline" routerLink="/register">Register</a>
        </p>
    </form>
</div>
</div>