<div class="max-w-lg mx-auto p-2">
  <button
    routerLink="/projects"
    class="flex items-center gap-2 text-gray-400 hover:text-white text-sm mb-6"
  >
    <i class="fa-solid fa-arrow-left"></i>
    Back to projects
  </button>

  <h2 class="text-2xl font-semibold text-white">Edit Project</h2>
  <p class="text-gray-400 mt-1">Update your project details</p>

  <form [formGroup]="form" (ngSubmit)="submit()" class="mt-6 space-y-4">

    <div>
      <label class="text-sm text-gray-300">Project Name</label>
      <input
        placeholder="Project Name"
        formControlName="name"
        class="w-full mt-2 p-3 rounded-lg bg-[#1e1e1e] text-white text-lg outline-none border-2 border-gray-700 focus:border-green-500"
      />
    </div>

    <div>
      <label class="text-sm text-gray-300">Description</label>
      <textarea
        placeholder="Description"
        formControlName="description"
        rows="4"
        class="w-full mt-2 p-3 rounded-lg bg-[#1e1e1e] text-white text-lg outline-none border-2 border-gray-700 focus:border-green-500 resize-none"
      ></textarea>
    </div>

    <button
      type="submit"
      [disabled]="loading"
      class="w-full mt-2 bg-[#08CB00] hover:bg-green-600 text-black font-semibold py-3 rounded-lg transition disabled:opacity-50 disabled:cursor-not-allowed"
    >
      @if (!loading) {
        Update Project
      }
      @if (loading) {
        Updating...
      }
    </button>

  </form>
</div>