<div class="flex h-screen bg-[#111111] text-white">

  <!-- Sidebar -->
  <aside
    class="bg-[#1c2b00] flex flex-col justify-between transition-all duration-200"
    [class.w-64]="!collapsed()"
    [class.w-20]="collapsed()"
  >

    <!-- Top Section -->
    <div>

        <!-- Logo + Toggle -->
        <div
        class="flex items-center p-4"
        [class.justify-between]="!collapsed()"
        [class.justify-center]="collapsed()"
        >

        <div class="flex items-center gap-2 overflow-hidden">

            <div
            class="w-8 h-8 bg-[#08CB00] rounded-md flex-shrink-0">
            </div>

            @if (!collapsed()) {
            <span class="font-semibold whitespace-nowrap">
                TaskFlow
            </span>
            }

        </div>

        @if (!collapsed()) {

            <button
            (click)="toggleSidebar()"
            class="text-gray-400 hover:text-white transition-colors"
            >
            <i class="fa-solid fa-angles-left"></i>
            </button>

        }

        </div>

        @if (collapsed()) {

        <div class="flex justify-center mb-4">

            <button
            (click)="toggleSidebar()"
            class="w-8 h-8 flex items-center justify-center rounded-md text-gray-400 hover:text-white hover:bg-[#2a3d00]"
            >
            <i class="fa-solid fa-angles-right"></i>
            </button>

        </div>

        }

      <!-- Navigation -->
      <nav class="mt-4 space-y-1 px-3">

        <a
          routerLink="/projects"
          routerLinkActive="bg-[#08CB00] text-black font-semibold"
          class="flex items-center gap-3 px-3 py-2 rounded-lg text-gray-200 hover:bg-[#2a3d00]"
        >
          <i class="fa-solid fa-folder-open w-5 text-center"></i>

          @if (!collapsed()) {
            <span>Projects</span>
          }
        </a>

        <a
          routerLink="/boards"
          routerLinkActive="bg-[#08CB00] text-black font-semibold"
          class="flex items-center gap-3 px-3 py-2 rounded-lg text-gray-200 hover:bg-[#2a3d00]"
        >
          <i class="fa-solid fa-table-columns w-5 text-center"></i>

          @if (!collapsed()) {
            <span>Boards</span>
          }
        </a>

        <a
          routerLink="/tasks/my"
          routerLinkActive="bg-[#08CB00] text-black font-semibold"
          class="flex items-center gap-3 px-3 py-2 rounded-lg text-gray-200 hover:bg-[#2a3d00]"
        >
          <i class="fa-solid fa-list-check w-5 text-center"></i>

          @if (!collapsed()) {
            <span>Tasks</span>
          }
        </a>

        <a
          routerLink="/profile"
          routerLinkActive="bg-[#08CB00] text-black font-semibold"
          class="flex items-center gap-3 px-3 py-2 rounded-lg text-gray-200 hover:bg-[#2a3d00]"
        >
          <i class="fa-solid fa-user w-5 text-center"></i>

          @if (!collapsed()) {
            <span>Profile</span>
          }
        </a>

      </nav>

    </div>

    <!-- Logout -->
    <div class="p-3">

      <button
        (click)="logout()"
        class="flex items-center gap-3 px-3 py-2 rounded-lg text-gray-300 hover:bg-[#2a3d00] w-full"
      >

        <i class="fa-solid fa-right-from-bracket w-5 text-center"></i>

        @if (!collapsed()) {
          <span>Logout</span>
        }

      </button>

    </div>

  </aside>

  <!-- Right Section -->
  <div class="flex-1 flex flex-col">

    <!-- Topbar -->
    <header
      class="h-16 flex items-center justify-between px-6 border-b border-gray-800 bg-[#111111']"
    >

      <!-- Search -->
      <div
        class="flex items-center bg-[#1e1e1e] rounded-lg px-3 py-2 w-80"
      >
        <i
          class="fa-solid fa-magnifying-glass text-gray-500 mr-2"
        ></i>

        <input
          type="text"
          placeholder="Search tasks, projects..."
          class="bg-transparent outline-none text-sm text-gray-200 w-full"
        />
      </div>

      <!-- User -->
      <div class="flex items-center gap-4">

        <i
          class="fa-regular fa-bell text-gray-400"
        ></i>

        <div
          class="w-8 h-8 rounded-full bg-[#08CB00] flex items-center justify-center text-black font-semibold text-sm"
        >
          {{ userInitials }}
        </div>

      </div>

    </header>

    <!-- Page Content -->
    <main class="flex-1 overflow-y-auto p-6">
      <router-outlet></router-outlet>
    </main>

  </div>

</div>